<!DOCTYPE html>
<html lang="en">
<head>
	<title>Onetel Template - Contact</title>
    <meta name="keywords" content="">
	<meta name="description" content="">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 
OneTel Template
http://www.templatemo.com/tm-468-onetel
-->

	<!-- stylesheet css -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/nivo-lightbox.css">
	<link rel="stylesheet" href="css/nivo_themes/default/default.css">
	<link rel="stylesheet" href="css/templatemo-style.css">
	<link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/fontAwesome.css">
        <link rel="stylesheet" href="css/light-box.css">
        <link rel="stylesheet" href="css/templatemo-style.css">
	<!-- google web font css -->
	<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<style>
	img{
		width:200px;
		height:200px;
	}
</style>
</head>
<body>
	
<!-- navigation -->

	<div class="container">
		<div class="navbar navbar-default navbar-static-top" role="navigation">
		<div class="navbar-header">
			<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
				<span class="icon icon-bar"></span>
			</button>
			<a href="#" class="navbar-brand"><img src="images/logo.png" style="width:70px;height: 60px;" class="img-responsive" alt="logo"></a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/">HOME</a></li>
				<li><a href="/docs">YOUR DOCS</a></li>
				<li><a href="/about">ABOUT US</a></li>
				<li><a href="/contact" class="active">CONTACT</a></li>
				<li><a href="/logout">LOGOUT</a></li>
			</ul>
		</div>
	</div>
	 <div class="grid-portfolio" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
 						<a href="/">
                        <h1>Govt Documents</h1>
   						<img src="https://cache.careers360.mobi/media/article_images/2018/06/11/govt.jpg">
                       </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="/">
                        <h1>Bank Documents</h1>
   						<img src="https://akm-img-a-in.tosshub.com/sites/btmt/images/stories/bank_2_660x450_240120042324_190320034529.jpg">
                       </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="/">
                        <h1>Personal Documents</h1>
   						<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTOkHm3_mPQ5PPRvGtU6Si7FJg8DVDtZ47rw&usqp=CAU">
                       </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="/">
                        <h1>Family Documents</h1>
   						<img src="https://compass-ssl.microsoft.com/assets/fe/5b/fe5b766b-2852-4866-8dcb-fc93763fad6e.png?n=FamilyHeroAnim2_poster_trimmed.png">
                       </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="/">
                        <h1>Medical Documents</h1>
   						<img src="https://lh3.googleusercontent.com/proxy/6gHWR0H_8Z1R5HXMDvYEO94ZiRtGfPIY2JOwDc7_JyQwN_LN6vhG7tbshE5FnCMH-ZX0nLU0l5RlLVUsyQ3il9M">
                       </a>
                        </div>
                    </div>
                </div>
               
                <div class="col-md-4 col-sm-6">
                    <div class="portfolio-item">
                        <div class="thumb">
                            <a href="/">
                        <h1>Edu Documents</h1>
   						<img src="https://cdn3.vectorstock.com/i/thumb-large/97/07/book-abstract-hand-education-logo-vector-17029707.jpg">
                       </a>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="load-more-button">
                        <a href="#">Load More</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>		
</body>
</html>